body{
    background:  hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    margin: unset;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    min-height: 100vh;
    font-size: 15px;
    
}

.container {
    text-align: center;
    background: white;
    max-width: 295px;
    padding: 1.075rem;
    border-radius: 1.35rem;
    margin: 1.075rem;
}

.paragraph {
    line-height: 1.2;
    font-size: 1.25rem;
    margin-top: 1.1em;
    font-weight: 400;
    color:  hsl(220, 15%, 55%);
}

.qr {
    max-width: 100%;
    height: auto;
}

img{
    border-radius: 0.65rem;
}

.heading {
    line-height: 1.25;
    font-size: 0.825rem;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
